* {
    font-family: sans-serif;
}

.header {
    background-color: #f5f5f5;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr
}

.content {
    background-color: #a3a3a3;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.sidebar {
    background-color:#06b6d4;
    grid-row: 1/ span 2;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000000
}

.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin: 0px;
    height: 100vh
}

body {
    margin: 0px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 1;
    gap: 10px;
    padding: 10px;
}

.announcement {
    grid-column-start: 2;
    grid-row-start: -1;
}

.trending {
    grid-column-start: 2;
    grid-row-start: 2
}

.tabs {
    list-style: none;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000000
}

.buttons {
    grid-column: 2;
    grid-row: 2;
}

button {
    border-radius: 50px;
    border: none;
    background-color: #06b6d4
}

.greeting {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 60px 1fr;
}

.greetingTxt {
    display: grid;
}

.profilePicMain {
    border-radius: 50%;
    height: 50px;
}

.profilePic {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.login {
    display: flex;
}

.superCool, .lessCool, .impossible, .easy, .adBlocker, .money, .announcementContent, .trendingContent {
    background-color: #f5f5f5;
}

.yourProjects {
    grid-column: 1/span 2;
    font-weight: bold;
}

.login {
    justify-content: end;
}

.buttons {
    justify-self: end;
}

.cardTitle {
    font-weight: bold;
}

.rightSide {
    display: flex;
    flex-direction: column;
    margin: 10px;
}