* {
    font-family: sans-serif;
}

.header {
    background-color: #f5f5f5;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 160px;
}

.content {
    background-color: #a3a3a3;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.sidebar {
    background-color:#06b6d4;
    grid-row: 1/ span 2;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000000
}

.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin: 0px;
    height: 100vh
}

body {
    margin: 0px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 1;
    gap: 10px;
    padding: 10px;
    grid-template-rows: 20px
}

.announcement {
    grid-column-start: 2;
    grid-row-start: -1;
}

.announcements {
    display: grid;
}

.announcementContent {
    margin-bottom: 5px;
}

.trending {
    margin-top: 5px;
    grid-column-start: 2;
    grid-row-start: 2
}

.tabs {
    list-style: none;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000000
}

.buttons {
    grid-column: 2;
    grid-row: 2;
}

button {
    border-radius: 50px;
    border: none;
    background-color: #06b6d4
}

.greeting {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-left: 40px;
    grid-template-rows: 60px;
    height: 60px;
    margin-top: 20px;
    width: 400px
}

.greetingTxt {
    display: grid;
}

.profilePicMain {
    border-radius: 50%;
    height: 50px;
}

.profilePic {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.login {
    display: grid;
    grid-template-columns: 50px 50px 125px;
    margin: 10px;
    justify-items: end;
    align-items: center
}

.superCool, .lessCool, .impossible, .easy, .adBlocker, .money, .announcementContent, .trendingContent {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 16px
}

.yourProjects {
    grid-column: 1/span 2;
    font-weight: bold;
}

.announcementContent {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.login {
    justify-content: end;
    padding-right: 10px;
}

.buttons {
    justify-self: end;
    display: flex;
    align-items: end;
    padding: 20px;
}

button {
    height: 30px;
    width: 90px;
    margin: 10px;
}

.cardTitle {
    font-weight: bold;
}

.rightSide {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.announcementTitle, .trendingTitle {
    font-weight: bold
}

.announcementTitle {
    height: 30px;
}

.trendingTitle {
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.sidebarTab {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebarImg {
    margin-right: 10px;
}

.communities {
    margin-bottom: 30px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.hello {
    font-weight: bold
}

.morgan {
    font-weight: bold;
    font-size: 20px;
}

#text {
    margin-left: 20px;
    border-radius: 25px;
    border: 2px solid gray
}

.superCool, .lessCool, .impossible, .easy, .adBlocker, .money {
    display: grid;
}

.cardImg {
    align-self: end;
    justify-self: end
}

.divider {
    margin-bottom: 10px;
    opacity: 0.6;
}